<html>
<title>Yamahawks</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body id="myPage">

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Team</a>
  <a href="#" class="w3-bar-item w3-button">About</a>
  <a href="#" class="w3-bar-item w3-button">Contact</a>
  <a href="#" class="w3-bar-item w3-button">Register</a>
  <a href="#" class="w3-bar-item w3-button">Members</a>
</nav>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Team</a>
  <a href="#about" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
  <a href="#signup" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Register</a>
  <a href="#members" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Members</a>
    
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Team</a>
    <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    <a href="#about" class="w3-bar-item w3-button">About</a>
    <a href="#register" class="w3-bar-item w3-button">Register</a>
    <a href="#members" class="w3-bar-item w3-button">Members</a>
    <a href="#" class="w3-bar-item w3-button">Search</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="file:///E:/biker/src/main/resources/templates/img/bgk_image.jpg" alt="yamahgawak" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">Upcoming Events</button>
  </div>
  <div class="w3-container w3-display-bottomright w3-margin-bottom">  
    <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">Join The YamaHawks Team</button>
  </div>
</div>

<!-- Modal Upcoming Event -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Hey!!! Ride For Reason..</h4>
      <h5>Because we care <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Next Event</p>
      <p>Go to Register And Join Our Team</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Enjoy the ride</p>
    </footer>
  </div>
</div>

<!-- Modal-2 Register-->
<div id="id02" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h5> You want join our team!? <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Click On <a class="w3-text-teal" href="https://docs.google.com/forms/d/e/1FAIpQLSccZ-X4t7uNslO_Py2kKXx35wVMR-mDF9yBZz6AkueQSUXONw/viewform?usp=sf_link" target="_blank">Register</a></p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Thanks for your interest!</p>
    </footer>
  </div>
</div>


<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>OUR TEAM</h2>
<p>Meet the team - our office rats:</p>

<div class="w3-row"><br>

<div class="w3-quarter">
<img src="/w3images/avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h2>Himayun</h2>
  <p>President, Research Lead & Road Captain</p>
</div>

<div class="w3-quarter">
<img src="/w3images/avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h3>Vaishakh</h3>
  <p>Associate President,Financial Controller & Road Captain</p> 
</div>

<div class="w3-quarter">
<img src="/w3images/avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h3>Supratik</h3>
  <p>Secretary</p>
</div>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h3>Dipanjan Nag</h3>
  <p>Secretary</p>
</div>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h3>Charan</h3>
  <p>Secretary, Research Lead & Sergeant At Arms</p>
</div>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h3>Indrajit</h3>
  <p>Media & Communication Lead</p>
</div>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h3>Ajendra</h3>
  <p>Media & Communication Lead, Web Development& InfoTech Lead & Sergeant At Arms</p>
</div>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h3>Chandrashekar</h3>
  <p>Research Lead & Road Captain</p>
</div>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h3>Dipanjan Nag</h3>
  <p>Secretary</p>
</div>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h3>Divakara</h3>
  <p>Club Merchandise Handler & Tail Gunner</p>
</div>

<div class="w3-quarter">
  <img src="/w3images/avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h3>Shanu</h3>
  <p>Club Merchandise Handler & Tail Gunner</p>
</div>

<div class="w3-quarter">
  <img src="avatar.jpg" alt="Boss" style="width:15%" class="w3-circle w3-hover-opacity">
  <h3>Haesha</h3>
  <p>Seegeant At Arms</p>
</div>

</div>
</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="about">

<div class="w3-quarter">
<h2>Our Work</h2>
<p>Established in September 2018, The YamaHawks was formed by a small group of like-minded bikers who wanted to encourage Motorcycling in India.
The YamaHawks is all about our love of biking whether it’s vintage, classic, modern or super motorcycles. 
The club was incepted keeping in mind the growing culture of motorcycling in India and to motivate all bikers across the country. It was formed with a purpose of informing, entertaining, enlightening all and prospective bike lovers, purpose is to unite all the bikers – we can it a BIKERHOOD!
This is incorporated as a non-profit organization dedicated not only to promote riding, travel, integrity, responsible riding, but also inject humanitarianism among all Indians.
The club’s sole purpose is to contribute to the society, enlighten and encourage civic sense, bring about a Meaningful Difference by conducting and participating in events & campaigns to demonstrate our discouragement of drugs amongst all citizens, supporting women riders, etc.
The club conforms to the norms laid out by the Indian Constitution and the Road Traffic Act - has never and will never go against the protocols of the Law. We ensure Law and Order is maintained at all times, although our aim is to give the best of time for all that are associated. You don’t have to have a bike, but only a passion to support the cause that The YamaHawks was built upon – and you’d be called a YamaHawkster.
With over 100 Motorcyclists (and growing) associated from many parts of Southern India, we are a proud club who stands by each other’s happiness and sadness, we support each other although we are brothers/sisters of different shoulders. There is no discrimination irrespective of your caste, creed, ethnicity, background or geography. All are treated as a “YamaHawkster”.
The YamaHawks takes pride in thanking all its existing members, and wholeheartedly welcome new clubs who wish to associate with such a large community.
</p>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/w3images/snow.jpg" alt="Snow" style="width:100%">
  <div class="w3-container">
  <h3>Event 1</h3>
  <h4>Reason For Ride</h4>
  <p>Blablabla...</p>
  <p>Blablabla...</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
  <div class="w3-container">
  <h3>Event 2</h3>
  <h4>Reason For Ride</h4>
  <p>Blablabla...</p>
  <p>Blablabla...</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
  <div class="w3-container">
  <h3>Event 3</h3>
  <h4>Reason For Ride</h4>
  <p>Blablabla...</p>
  <p>Blablabla...</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
  <div class="w3-container">
  <h3>Event 4</h3>
  <h4>Reason For Ride</h4>
  <p>Blablabla...</p>
  <p>Blablabla...</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
  <div class="w3-container">
  <h3>Event 5</h3>
  <h4>Reason For Ride</h4>
  <p>Blablabla...</p>
  <p>Blablabla...</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
  <div class="w3-container">
  <h3>Event 6</h3>
  <h4>Reason For Ride</h4>
  <p>Blablabla...</p>
  <p>Blablabla...</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
  <div class="w3-container">
  <h3>Event 7</h3>
  <h4>Reason For Ride</h4>
  <p>Blablabla...</p>
  <p>Blablabla...</p>
  </div>
  </div>
</div>

</div>

<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>   Bangalore</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +91-9731095111</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i><a href="TheYamaHawks@gmail.com">TheYamaHawks@gmail.com</a></p>
      <p><i class="fa fa-instagram w3-text-teal w3-xlarge"></i><a href="https://www.instagram.com/theyamahawks/?r=nametag&hl=en">@TheYamaHawks</a></p>
      <p><i class="fa fa-facebook w3-text-teal w3-xlarge"></i><a href="https://www.facebook.com/TheYamaHawks/">@YamaHawks</a></p>
      <p><i class="fa fa-youtube w3-text-teal w3-xlarge"></i><a href="https://www.youtube.com/channel/UCO3zWHvx2w5VzlegHIgln-A/featured">@TheYamaHawks</a></p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">      
        <label>Name</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">      
        <label>Email</label>
        <input class="w3-input" type="text" name="Email" required>
      </div>
      <div class="w3-section">      
        <label>Message</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>  
      <input class="w3-check" type="checkbox" checked name="Like">
      <label>I Like it!</label>
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      </form>
    </div>
  </div>
</div>

<!-- Image of location/map -->
<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="@TheYamaHawks" title="Instagram"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal" href="@TheYamaHawks" title="Youtube"><i class="fa fa-youtube"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">YamaHawks</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation